@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

p {
    font-size: 12px;
    line-height: 1.5;
}

/* #regions_div{
    
} */

body {
    background-image: url(images/bkgd-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
}
.container {
    width: 97%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
/**** HEADER ****/

/**** Barra de navegación ****/
.navigation{
    display: flex;
    justify-content: space-evenly;
}
.nav{
    position: absolute;
    background-color: #6BD1A9;
    z-index: 1;
    width: 350px;
    height: 100%;
    margin: 2.45rem 0 0 -15rem;
    padding-left: 10rem;
}
.nav-hide {
    left: -100%;
}
.nav-show {
    left: 0;
}

#icon-bar {
    margin: .8rem .2rem 0 .5rem;
    color: white;
}
#icon-x {
    color: black;
    margin-left: 17rem;
}

.logo{
    margin: .7rem 0rem 0 .1rem;
    width: 100%;
    min-width: 2rem;
    max-width: 2.8rem;
}
.input-icono {
    margin: .4rem .1rem .1rem 1rem;
    background-image: url('images/search-gray.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.2rem;
    display: flex;
    align-items: center;
    width: 30rem;
    max-width: 22rem;
    padding-right: 6rem;
    height: 1.8rem;
    border: 1px solid #BEBCBC;
    border-radius: 3px; 
    background-color: white;
    fill: gray;
}
.input-icono input {
    width: 100%;
    font-size: 0.7em;
    border: none;
}
.input-icono input:focus {
    outline: none;
}

/**** Slide ****/
.container-slider {
    height: 450px;
    display: flex;
    background-color: transparent;
}

.slider {
    position: relative;
    top: 0;
    width: 800px;
    height: 400px;
    background-color: transparent;
}

.slider .slide {
    z-index: 0;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    height: 450px;
}
.slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.slider .slide img {
    top: 0;
    z-index: 0;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.slider .slide figcaption {
    color: rgb(71, 71, 71);
    font-size: 9px;
    text-align: center;
}

.slider .buttons-slides {
    z-index: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: -50px;
}

.slider .buttons-slides .btn-slide {
    width: 50px;
    height: 3px;
    border-radius: 6px;
    background: rgb(150, 149, 149);
    margin: 6px;
    cursor: pointer;
}
.buttons-slides .btn-slide.btn-slide-active {
    background: rgb(24, 23, 23); 
}
/**** Sección de INTRO ****/
.image-intro {
    display: none;
}
/**** Sección de participación de MUJERES ****/
.women {
    background: transparent;
    line-height: 2;
    margin: 0 auto;
}
#piechart {
    margin: 0 auto;
}
.images-women {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.imgewomen1, .imgewomen3{
    display: none;
}
.images-women img {
    width: 150px;
    height: 300px;
}

/**** Ventana de ATLETAS****/
.containerSectionAthletes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*El first element es el boton de ordenar  y el icono de filtrar*/
.first-element {
    display: flex;
    justify-content: space-between;
}

.container-icon-filter {
    width: 90px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.container-icon-filter svg {
    transform: rotate(90deg);
}

.container-icon-filter span, 
.container-list-order span {
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.container-list-order {
    display: flex;
    justify-content: space-evenly;
}
.container-list-order span {
    margin-top: 3px;
    font-weight: 900;
}

#order {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    margin-top: 0px;
}

/*Second element es la lista de categorías y seccion de atletas */
.second-element {
    display: flex;
}

.containerAthletes {
    width: 98%;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/****Card de atletas ****/
.athlete{
    height: 250px;
    width: 203px;
    border-radius: 8px; 
    background: linear-gradient(180deg, #C5E67A 0%, rgba(197, 230, 122, 0) 100%);
    box-shadow: 0px 10px 20px 0px #29292A12;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(8px);
    /*mix-blend-mode: screen;*/
}
.athlete-detail {
    background: linear-gradient(180deg, #C5E67A 0%, rgba(197, 230, 122, 0) 100%);
    box-shadow: 0px 10px 20px 0px #29292A12;
    height: 450px;
    width: 280px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

.pic-athlete {
    width: 80px;
    height: 90px;
}
.name-athlete {
    background: radial-gradient(54.25% 1197.23% at 58.21% 53.55%, #DC9409 45%, rgba(220, 148, 9, 0) 100%);
    transform: matrix(1, -0.08, 0.07, 1, 0, 0);
    width: 196px; 
    height: 35px;
    text-align: center;
    color: white;
    display: flex;
    margin: -5px auto 0 auto;
    position: relative;
}
.name-athlete p {
    font-size: 14px;
    font-weight: 900;
    line-height: 1.2;
    width: 160px; 
    height: 40px;
    position: absolute;
    top: 5%;
    left: 50%;
    margin: 0 0 0 -35%;
}
.country-athlete {
    height: 32px;
    width: 33px;
    margin-left: 165px;
    opacity: 0.7;
}

.sport-athlete {
    text-align: center;
    display: block;
}
.name-athlete img {
    height: 43px;
    width: 40px;
    margin-top: -5px;
}
.file-athlete {
    margin: 1rem 0 .5rem 1rem;
    width: 150px;
    display: grid;
    grid-template-areas: 'span p';
    gap: 2px;
}

.file-athlete p {
    margin: 0;
    padding: .1rem;
}

.file-athlete span {
    padding: .2rem;
    font-weight: 900;
    width: 150px;
}



/**** Barra de navegación desplegable ****/
li {
    list-style: none;
}

.container-nav-category  {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 100%;
    padding: 0.5rem;
    line-height: 1.45rem;
    margin-top: -7.5rem ;
    border: 1px solid #DFD9D9;
    box-sizing: border-box;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgba(255, 255, 255, .85);
    display: none;
}

.nav-subcategory {
    padding-left: 20px;
}
.nav-category a {
    text-decoration: none;
    color: black;
}
.nav-category a:hover {
    text-decoration: underline;
}
.list-sport {
    overflow: scroll;
    height: 200px;
}

.list-category-hide {
    left: -100%;
}

.list-category-show {
    left: 0;
}


/**** Ventana de mostrar todos los DEPORTES****/
.containerSport{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    width: 85%;
    align-items: flex-start;
    text-align: center;
    padding-left: 80px;
}
.sport{ 
    width: 186px;
    height: 215,28px;
    text-align: center;
    left:53px;
    top:288px;
    background: linear-gradient(180deg, #C5E67A 0%, rgba(197, 230, 122, 0) 100%);
}
.sport p{
    font-weight: 500;
}
.circle{
    text-align: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    left: 78px;
    top: 312px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #44F718 87.5%);
}

.imagenes-sport {
    width: 60px;
    margin-top: 10px ;
}
.inforSport{
    display: flex ;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
}

/**** Ventana para mostrar las ESTADÍSTICAS****/
.title-country {
    text-align: start;
    padding-left: 30px;
}
.cell-flag {
    width: 37px;
}
.flag {
    width: auto;
    max-width: 30px;
}
.country {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    /* background-color: white; */
}
.icon-medal {
    width: 30px;
    margin: 0 auto;
}
tbody tr {
    border-bottom: 1px solid #ccc;
    height: 3rem;
}

/**** Footer ****/
.footer {
    background-color: rgb(37, 37, 37);
    text-align: center;
    color: rgb(223, 219, 219);
    margin-top: 1rem;
    padding: 1rem;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 100%;
    max-width: 30px;
    margin-bottom: -9px;
}

.footer .nav-footer .button {
    text-align: center;
}

/**** Botones ****/
.button {
    text-align: left;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(223, 219, 219);
    font-size: .95rem;
    font-weight: 900;
    padding: 1rem;
}
.button:hover {
    text-decoration: underline;
}

#goBack {
    margin-top: .5rem;
    background-color: #048a6f;
    padding: .5rem;
    border-radius: 20px;
    text-align: center;
}

#goBack:hover {
    background-color: #DC9409;
    text-decoration: none;
}
/* Responsive  */
@media (min-width: 600px){
    .images-women img {
        width: 33,2%;
        height: 400px;
        max-width: 60%;
        justify-content: center;
    }
    .imgewomen3{
         display: block;
    }
    .text-center {
        text-align: center;
        font-size: 25px;
    }
    p {
        font-size: 15px;
        line-height: 2;
    }
    .women{
        width: 80%;
    }
    body {
        background-image: url(images/bkgd4.png);
    }
    .navigation .nav{
        position: initial;
        background-color: transparent;
        /* width: 10rem; */
        display: flex;
        justify-content:space-between;
        margin-top: .4rem;
    }
    .navigation{
        /* justify-content: space-between; */
        padding: .2rem 0 .2rem 0;
    }
    .button {
        padding: .5rem;
        font-size: .9rem;
        color: black;
    }
    .button:hover {
        text-decoration: underline;
        background-color: transparent;
    }
    .logo{
        margin: .7rem 0rem 0 .1rem;
    }
    .input-icono {
        margin: .6rem 0 .5rem 0rem;
    }
    .input-icono input {
        font-size: 0.8em;
    }
    .menu-bar {
        display: none;
    }
    .container-slider {
        justify-content: center;
    }
    .slider .buttons-slides {
        bottom: -40px;
    }
}
@media (min-width: 1200px){
    .image-intro {
        display: block;
    }
    .intro{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .intro img {
        max-width: 50%;
        height:  360px;
    }
    .text-center {
        text-align: center;
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .text-intro {
        flex-basis: 49%;  
    }
    .women{
        width: 95%;
    }
    .images-women img {
        width: 20%;
    }
    .imgewomen1{
        display: block;
    }
    .navigation{
        padding: .5rem 0 .5rem 0;
    }
    .input-icono input {
        font-size: 0.9em;
    }
    .nav{
        width: 20rem;
    }
}